.btn {
  color: white;
  border: 1px solid green;
  background: green;
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
  margin-top: 20px;
}

.btn:hover {
  background: lightgreen;
  cursor: pointer;
  color: green;
}

.btn-none {
  display: none;
}

.btn-red:hover {
  background: salmon;
  color: red;
}